#navigation {

}

#navigation #current {
	background: repeat-x url(../images/button_over.png);
}

#navigation .currentAncestor {
	background: repeat-x url(../images/button_over.png);
}
/* Parent - Level 0 */

#navigation ul {

}

#navigation li {

}

#navigation a{
}

#navigation a:hover {
	background: repeat-x url(../images/button_over.png);
}

#navigation a:active {

}

/* Child - Level 1 */

#navigation ul ul {
}

#navigation ul ul li {
}

#navigation ul ul a {

}

#navigation ul ul a:hover{

}

#navigation ul ul #current{

}

#navigation ul ul .currentAncestor {
	
	color: #0080ff;
}

/*</group>*/

.photo-navigation {
	background: #333333;
}