/* @group General Styles */

body {
	text-align: center; /* To Make Content Centered*/
	background-color: #f0f0f0;
	color: #666666;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size:  .80em;
	margin: 8px;
}

p {
}

b, strong {

}

a:link {
	color: #0080ff;
	background-color:inherit;
	text-decoration: underline;
}

a:visited {
	color: #0080ff;
	background-color:inherit;
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
}

img {
	border: none;
}

.image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 3px 3px 0;
}

.image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 3px;
}

.plainList{
	list-style-type:none;
	font-size:0.8em;
	text-align:left;
}

.legend{
	font-size:0.8em;
	font-weight:bold;
	text-align:left;
	border: solid #aeaeae 1px;
}

table {
    border: 0px;
    border-spacing: 0px;
  }

  td {
    padding: 0px;
    border: 0px ;
  }

  td.middle {
    border: 0px;
    padding: 0px;
  } 

/* @end *//* End of General Styles*/

#techtable {

}

#techtable table{
	padding: 10px 10px 10px 10px;
	border: 10px;
}

#techtable tr{
	border: 10px;
}



#techtable td.logo{
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
	text-align: center;
}

#techtable td.text{
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
}

#techtable img{
	padding: 10px 10px 10px 10px;
	width:200px;
}

#logo {
	
}

#logo img{
	display: none;
}

#map {

}

#map img{
	height: 	180px;
	width:	180px;
}

/* @group Side Bar Styles */

#sidebarContainer {
	width: 200px;
	min-height:455px;
	float: right;
}

#sidebarContainer #sidebar {
	padding: 5px;
}

#sidebarContainer .sideHeader {
	font-weight: bold;
	padding: 5px 5px 0;
}

/* @end *//* End of Side Bar Styles*/

/* @group Page Header Bar Styles */

#pageHeader {
	height: 100px;
	border-bottom: solid #aeaeae 1px;
	background: #ffffff;
	background: url(images/header_bg.png) repeat-x;
}

#pageHeader img {
	float: right;
}

#pageHeader h1 {
	text-shadow: #666666 3px 3px 1px;
	padding-left: 10px;
	padding-top: 10px;
	color: #ffffff;
	background-color:inherit;
	font-size: 1.8em;
	margin: 0;
}

#pageHeader h2 {
	text-shadow: #666666 3px 3px 1px;
	font-size: 1.3em;
	color: #ffffff;
	background-color:inherit;
	margin: 0;
	padding-left: 10px;
	font-weight: normal;
}
/* @end *//* End of Page Header Styles*/

/* @group Title Styles */

#title {
	margin-left: 10px;
	text-align: left; /* Hack To Keep IE5 Windows Happy*/
	display: block;
	position: relative;
}

#title h1 {
	font-weight: bold;
	font-size: 1.8em;
	text-align: center;
	text-shadow: 0px 3px 3px #afafaf;
	margin: 0;
	padding: 10px 0 0 10px;
}

/* @end *//* End of Title Styles*/

/* @group Content Styles */

#container { 
	width: 800px;
	margin: 0px auto 10px; /* Right And Left Margin Widths To Auto*/
	text-align: left; /* Hack To Keep IE5 Windows Happy*/
	border: 1px solid #aeaeae;
	background: #ffffff repeat-y left  url(images/sidebar_left_bg.png);
}

#contentContainer {
	margin-left: 0px;
	margin-right: 200px;
	background: #ffffff no-repeat url(images/smile_grey.jpg);
	border-right: solid #aeaeae 1px;
}


#float_image_middle{
	position: relative;
	padding: 10px;
	float: center;
	z-index:1;
}

#float_image_right{
	position: relative;
	padding: 10px;
	float: right;
	z-index:1;
	width: 200px;
}

#float_image_left{
	position: relative;
	padding: 10px;
	float: left;
	z-index:1;
	width: 200px;
}

#content {
	position: relative;
	padding: 10px 10px 10px 15px;
	min-height:450px;
}

#content h1{
	padding: 10px 10px 10px 15px;
}

#content { 
	margin: 0px auto; /* Right And Left Margin Widths To Auto*/
	text-align:justify;
	padding: 10px 10px 10px 10px;
	/*font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;*/
	/*border-bottom: 1px solid #a1a5a8;*/	
}

#content ul {
	/*list-style-type: none;*/
	margin: 20px;
}

#content table { 
	max-width: 580px;
	margin: 0px auto; /* Right And Left Margin Widths To Auto*/
	text-align:left;
	padding: 10px 0 10px 10px;
}


#content h1{	
	padding: inherit;
	margin: 0;
	text-align:inherit;
	background:#FFFFFF;
}

#content h2{	
	padding: 10px 0 0 10px;
	margin: 0;
	text-shadow: 0px 3px 3px #bfbfbf;
}

#content h3{	
	padding: 0 0 0 10px;
	margin: 0;
	text-align:justify;
}

#content h4{	
	padding: 0 0 0 10px;
	margin: 0;
	text-align:justify;	
	text-decoration:underline;
}


#content p{	
	padding: 0 0 0 10px;
}

#subcontent {
	background:#EFEFEF;
	padding: 5px 5px 5px 5px;
	border-right: 3px solid #dfdfdf;
	border-bottom: 3px solid #dfdfdf;
}
#content  img.scale {
	border: none;
	width: 200px;
}
#content  img.main {
	border: none;
	width:580px;
}
#content  img.thumb_port {
	border: none;
}
#content  img.thumb_land {
	border: none;
}

/* @end *//* End of Content Styles*/

/* @group Breadcrumb Styles */

#breadcrumbcontainer {
	/*display: none;*/
	background: url(images/breadcrumb_bg.png) repeat-x;
	text-align: left;
	height: 25px;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0;
	padding-top: 5px;
	padding-left: 5px;
	color: #d4d4d4;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	color: #d4d4d4;
	text-decoration: none;
}

#breadcrumbcontainer a:hover {

}

/* @end *//* End of Breadcrumb Styles*/

/* @group Toolbar Styles */
#navigation {
}

#navigation #current {
	color: #666666;
	background-color:inherit;
	text-shadow: 0px 1px 1px #666666;
}

#navigation .currentAncestor {
	color: #666666;
	background-color:inherit;
	text-shadow: 0px 1px 1px #666666;
}

/* Parent - Level 0*/

#navigation ul {
	padding: 0;
	list-style-type: none;
	margin: 0px;
	border-top: 1px solid #aeaeae;
}

#navigation li {
	position: relative;
}

#navigation a {
	height: 20px;
	display: block;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	color: #666666;
	background-color:inherit;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
	border-bottom: 1px solid #aeaeae;
	/*background: repeat-x url(images/button_normal.png);*/
	background: #ebebeb;
}

#navigation a:hover { 
	/*color: #ffffff;*/
	background-color: #cccccc;
	text-shadow: 0px 1px 1px #666666;
}

/* Fix IE. Hide from IE Mac \*/
* html #navigation ul li { float: left; height: 1%; }
* html #navigation ul li a { height: 20px; }
/* End*/

/* Child - Level 1*/

#navigation ul ul {
	position: absolute;
	list-style-type: inherit;
	top: -5px;
	left: -147px;
	display: none;
	z-index: 100;
	border-right: 1px solid #aeaeae;
	border-left: 1px solid #aeaeae;
}

#navigation ul ul a { 
	color: #666666;
	background-color: #ebebeb;
	text-shadow: 0px 1px 1px #ffffff;
	padding-left: 20px;
	width:120px;
}

#navigation ul ul a:hover {
	color: #666666;
	background-color: #cccccc;
	text-shadow: 0px 1px 1px #ffffff;
}

#navigation ul ul #current{
	text-shadow: 0px 1px 1px #ffffff;
	color: #666666;
	background-color:#cccccc;
}

#navigation ul ul .currentAncestor {
	background-color: #ebebeb;
	color:inherit;
	text-shadow: none;
}


/* Child Level 3*/

#navigation ul ul ul {
	position: absolute;
	top: -1px;
	left: 205px;
}

#navigation ul ul ul ul li { 
}

#navigation ul ul ul ul a{
}

#navigation ul ul ul ul a:hover{

}

div#navigation ul ul, div#navigation ul ul ul, div#navigation ul li:hover ul ul, div#navigation ul li:hover ul ul ul, div#navigation ul li:hover ul ul ul ul, div#navigation ul li:hover ul ul ul ul ul{
display:none;
}

div#navigation ul li:hover ul, div#navigation ul ul li:hover ul, div#navigation ul ul ul li:hover ul, div#navigation ul ul ul ul li:hover ul, div#navigation ul ul ul ul ul li:hover ul{
display:block;
}
/* @end *//* End of Toolbar Styles*/

/* @group Footer Styles */

#footer  {
	width: 800px;
	margin: 0px auto 10px;
	border-style: none;
	text-align: right;
}

#footer p {
	margin: 0;
	padding: 5px;
	text-align: center;
}

#footer a:link, #footer a:visited {

}

#footer a:hover, #footer a:active {
	
}
/* @end *//* End of Footer Styles*/

/* @group Index Page (Thumbnail view) */

.album-title {
	font-size: 1.2em;
	font-weight: bold;
}

.album-description {
	color: #cccccc;
	margin-bottom: 10px;
}

.thumbnail-table {
	width: 99%;
}

.thumbnail-frame {
	padding: 1px;
	border: Solid 1px #cccccc;
	text-align: center;
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	border: none;
}

.thumbnail-caption {

}
	
/* @end *//* End of Index Page (Thumbnail view)*/

/* @group Single Page (Photo view) */

.photo-background {
}

.photo-navigation {
	height: 71px;
	margin-bottom: 35px;
}

.photo-navigation a:link, .photo-navigation a:visited {

}

.photo-navigation a:hover {

}

.photo-frame{
	padding: 4px;
	background: #ffffff;
	border: 1px solid #aeaeae;
}

.photo-links {
	background: repeat-x url(images/breadcrumb_bg.png);
	height: 25px;
	margin: 0;
	padding: 6px 0 0;
}

.photo-links a:link {
	color: #ffffff;
}

.photo-title {
	padding-left: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-size: 1.8em;
	margin: 0;
}

.photo-caption {
	font-size: 1.3em;
	color: #ffffff;
	padding-left: 10px;
	font-weight: normal;
	margin: 0 0 15px;
}

/* @end *//* End of Single Page (Photo view)*/

/* @group imageteaser */

.imgteaser {
	margin: 0;
	overflow: hidden;
	float: left;
	position: relative;
}
.imgteaser a {
	text-decoration: none;
	float: left;
}
.imgteaser a:hover {
	cursor: pointer;
}

.imgteaser a img {
	float: left;
	margin: 0;
	border: none;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	width:  560px;
}

.imgteaser a .more {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	background: #000;
	padding: 5px 10px;
	filter:alpha(opacity=45);
	opacity:.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /*--IE 8 Transparency--*/
}
.imgteaser a:hover .desc{
	display: block;
	padding: 10px 0;
	background: #000;
	filter:alpha(opacity=45);
	opacity:.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /*--IE 8 Transparency--*/
	color: #fff;
	position: absolute;
	bottom: 11px;
	left: 11px;
	padding: 10px;
	margin: 0;
	width: 540px;
	border-top: 1px solid #999;
}
.imgteaser a:hover .desc strong {
	display: block;
	margin-bottom: 5px;
	font-size:1.5em;
}

.imgteaser a .desc {	display: none; }
.imgteaser a:hover .more { visibility: hidden;}


/* @end */
	
