#navigation {

}

#navigation #current {
	/*background: repeat-x url(../images/button_over.png);*/
	background: #cccccc;
}

#navigation .currentAncestor {
	/*background: repeat-x url(../images/button_over.png);*/
	background: #cccccc;
}
/* Parent - Level 0 */

#navigation ul {

}

#navigation li {

}

#navigation a{
}

#navigation a:hover {
	/*background: repeat-x url(../images/button_over.png);*/
	background: #cccccc;
}

#navigation a:active {

}

/* Child - Level 1 */

#navigation ul ul {
}

#navigation ul ul li {
}

#navigation ul ul a {

}

#navigation ul ul a:hover{

}

#navigation ul ul #current{

}

#navigation ul ul .currentAncestor {
	
	color: #0080ff;
}

/* @end */

.photo-navigation {
	background: #333333;
}